<h1>
    {{ "nasa_browser" | translate }}
</h1>
<nav>
  <ul id="menu">
    <li>
      <a [routerLink]="['/']">    
        {{ "home" | translate }}
      </a>
      |
    </li>
    <li>
      <a [routerLink]="['/asteroids']">
        {{ "nearby_asteroids" | translate }}
      </a>
      |
    </li>
    <li>
      <a [routerLink]="['/apod']">
        {{ "apod" | translate }}
      </a>
      |
    </li>
    <li>
      <a [routerLink]="['/submit-planet']">
        {{ "submit_planet" | translate }}
      </a>
    </li>
  </ul>
  <ul class="lang-bar">
    <li>
      <a (click)="changeLang('en')">EN</a> |
    </li>
    <li>
      <a (click)="changeLang('ru')">РУ</a> |
    </li>    
    <li>
      <a (click)="changeLang('hy')">ՀՅ</a>
    </li>
  </ul>
</nav>

<main>

	<router-outlet></router-outlet>
</main>

<footer>
  © 2016
</footer>
