<h3>Asteroids Component</h3>
<p>Search for Asteroids based on their closest approach date to Earth</p>
  <datepicker [(ngModel)]="startDate" [expanded]="true"></datepicker>
  <datepicker [(ngModel)]="endDate" [expanded]="true"></datepicker>
<br>
<button class="button" (click)="go()">Go</button>
<table class="nearby-asteroids" *ngIf="asteroids">
	<tr>
		<th>Title</th>
		<th>Distance</th>
		<th>Absolute Magnitude</th>
		<th>Is potentially hazardous</th>
		<th>Diameter</th>
	</tr>
	<tr *ngFor="let ast of asteroids">
		<td><a target="_blank" [href]="ast.nasa_jpl_url">{{ ast.name }}</a></td>
		<td>{{ ast.close_approach_data[0].miss_distance.kilometers }}</td>
		<td>{{ ast.absolute_magnitude_h }}</td>
		<td>{{ ast.is_potentially_hazardous_asteroid }}</td>
		<td>{{ ast.estimated_diameter.meters.estimated_diameter_min }} - {{ ast.estimated_diameter.meters.estimated_diameter_max }}</td>
	</tr>
</table>