@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
.nearby-asteroids {
	margin: 0 auto;
	margin-top: 50px;
}
.nearby-asteroids th {
	padding-left: 10px;
	padding-right: 10px;
}
.nearby-asteroids tr td {
	border: 1px solid black;
}
span.success {
	background-color: #5cb85c;
	padding-right: 5px;
	padding-left: 5px;
	color: white;
}
span.danger {
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #d9534f;
}